*ins
*err
*log
.spyproject
.DS_Store
/build/*
/dist/*
/MILK.egg-info/*
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
/MILK/data/resources/data/*
/examples/QPA/*
/examples/HIPPO/texture/data/*
/examples/Synchrotron/sequential_refinement/data/*
