name: Python 3.9

on:
  push:
    branches: [ workflow-draft2 ]
  pull_request:
    branches: [ workflow-draft2 ]
jobs:
  ubuntu-py39:
    name: Build MILK on Linux
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: rietveld
          environment-file: environment_linux.yml
          auto-activate-base: false
          miniforge-variant: Mambaforge
          miniforge-version: 4.9.2-4
          use-mamba: true
      - name: download related programs and make tutorials folder for test examples
        run: |
          wget -O Maud.tar.gz "https://www.dropbox.com/sh/3l4jpjw7mkc3cfo/AABxmzMfRS2zsxfXhUNftZHCa/linux64/Maud.tar.gz?dl=1"
          tar -xvf Maud.tar.gz
          git clone https://github.com/cinemascience/cinema_debye_scherrer
      - name: config milk and run examples
        run: |
          milk-config /home/runner/work/MILK/MILK/Maud -c /home/runner/work/MILK/MILK/cinema_debye_scherrer
          conda deactivate
          conda activate rietveld
          pytest tests/workshop_examples.py