name: Build and Test [Python 3.9 on Windows, Linux, MacOS]

on:
  push:
    branches: [ workflow-draft2 ]
  pull_request:
    branches: [ workflow-draft2 ]
jobs:
  # build-on-ubuntu:
  #   name: Build MILK on Linux (Ubuntu)
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: Set up Python 3.9
  #       uses: actions/setup-python@v2
  #       with:
  #         python-version: 3.9
  #     - uses: s-weigand/setup-conda@v1
  #       with:
  #         activate-conda: false
  #     - run: conda create --name rietveld --file conda-linux-64.lock
  #     # - run: conda list -n rietveld
  #     - run: git clone https://github.com/cinemascience/cinema_debye_scherrer
  #     - run: wget https://www.dropbox.com/sh/3l4jpjw7mkc3cfo/AABxmzMfRS2zsxfXhUNftZHCa/linux64/Maud.tar.gz
  #     - run: tar -xvf Maud.tar.gz
  #     - run: conda activate rietveld
  #     - run: milk-config ./Maud/ -c ./cinema_debye_scherrer/
          
  build-on-windows:
    name: Build MILK on Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - uses: s-weigand/setup-conda@v1
        with:
          activate-conda: false
      - run: |
          $ProgressPreference = 'SilentlyContinue'
          $Source = "https://www.dropbox.com/sh/3l4jpjw7mkc3cfo/AADjVKfGRk7g1SoQXOc1nrl3a/windows64/Maud.zip?dl=1"
          $Destination = "./Maud.zip"
          Invoke-WebRequest -Uri $source -OutFile $Destination
          Expand-Archive -Path Maud.zip
          git clone https://github.com/cinemascience/cinema_debye_scherrer
      - shell: cmd
        run: |
          @echo off
          echo "Creating environment"
          conda env create -f environment_windows.yml
          echo "Done creating environment"
          conda list
          conda info --envs
          echo "Initialize cmd shell for conda"
          conda init cmd.exe
      - shell: cmd
        run: |
          @echo off
          conda activate rietveld
          echo "Activated rietveld"
          echo %CONDA_DEFAULT_ENV%
          echo %CONDA_PREFIX%
          milk-config ./Maud/ -c ./cinema_debye_scherrer/
          echo "Ran milk-config"
          conda deactivate
          conda activate rietveld
          echo %CONDA_DEFAULT_ENV%
          echo %CONDA_PREFIX%
          echo %MAUD_PATH%
          echo %CINEMA_PATH%
      - shell: cmd
        run: |
          conda activate rietveld
          echo %CONDA_DEFAULT_ENV%
          echo %CONDA_PREFIX%
          echo %MAUD_PATH%
          echo %CINEMA_PATH%

  build-on-macos:
    name: Build MILK on MacOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - uses: s-weigand/setup-conda@v1
        with:
          activate-conda: false
      - run: |
          echo on
          conda --version
          which conda
          sysctl -a | grep brand
          # conda env create -f environment_mac.yml
          conda create --name rietveld --file conda-osx-64.lock
          python -m pip install -e ./
          echo ". /usr/local/miniconda/etc/profile.d/conda.sh" >> ~/.bashrc
          conda init bash
          source ~/.bashrc
          conda activate rietveld
          echo $CONDA_DEFAULT_ENV
          echo $CONDA_PREFIX
          # conda install ocl_icd_wrapper_apple -c conda-forge
          curl -JLO "https://www.dropbox.com/sh/3l4jpjw7mkc3cfo/AAD4uGx8QNACWnItJ4yvfZcWa/macosx64/Maud_intel64.dmg.gz"
          gunzip Maud_intel64.dmg.gz
          hdiutil attach Maud_intel64.dmg
          cp -r /Volumes/Maud .
          cp -r ./Maud/Maud.app /Applications/Maud.app
          git clone https://github.com/cinemascience/cinema_debye_scherrer
          python ./bin/milk_config.py /Applications/Maud.app -c ./cinema_debye_scherrer
          conda deactivate
          conda activate rietveld
          echo $MAUD_PATH
          echo $CINEMA_PATH
          echo "Running first example"
          mkdir ../Examples
          cd ../Examples
          milk-examples -e 1
          ls
          cd maudbatch
          sed 's/# /Users/testuser/Documents/GitHub/MILK/maudbatch//asdfasdf/' fecu.ins
