name: Build and Test [Python 3.9 on Windows, Linux, MacOS]

on:
  push:
    branches: [ workflow-draft2 ]
  pull_request:
    branches: [ workflow-draft2 ]
jobs:
  build-on-ubuntu:
    name: Build MILK on Linux and Windows (${{ matrix.os }}, Mambaforge)
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu"]
        include:
          - os: ubuntu
            environment-file: environment_linux.yml
            miniforge-variant: Mambaforge
            miniforge-version: 4.9.2-4
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          environment-file: ${{ matrix.environment-file }}
          miniforge-variant: ${{ matrix.miniforge-variant }}
          miniforge-version: ${{ matrix.miniforge-version }}
          use-mamba: true
      - name: download related programs and make tutorials folder for test examples
        run: |
          mkdir -p Tutorials
          wget -O Maud.tar.gz "https://www.dropbox.com/sh/3l4jpjw7mkc3cfo/AABxmzMfRS2zsxfXhUNftZHCa/linux64/Maud.tar.gz?dl=1"
          tar -xvf Maud.tar.gz
          git clone https://github.com/cinemascience/cinema_debye_scherrer
      - name: config milk
        run: |
          milk-config ./Maud -c ./cinema_debye_scherrer
          conda deactivate
          conda activate rietveld
          echo $MAUD_PATH
          echo $CINEMA_PATH
      - name: Running first test example
        run: |
          $CONDA_DEFAULT_ENV
          conda activate rietveld
          cd Tutorials
          milk-examples -e 1
          cd maudbatch
          python writeIns.py
          milk-maudText -f fecu.ins
      - name: Running second test example
        run: |
          $CONDA_DEFAULT_ENV
          pwd
          conda activate rietveld
          cd Tutorials
          milk-examples -e 3
          cd sequential_refinement
          
  # build-on-windows:
  #   name: Build MILK on Windows
  #   runs-on: windows-latest
  #   defaults:
  #     run:
  #       shell: cmd /C CALL {0}
  #   steps:
  #     - uses: actions/checkout@v2
  #     - uses: conda-incubator/setup-miniconda@v2
  #       with:
  #         activate-environment: rietveld
  #         environment-file: environment_windows.yml
  #         auto-activate-base: false
  #     - run: |
  #         conda info
  #         conda list
  #     - shell: pwsh
  #       run: |
  #         $ProgressPreference = 'SilentlyContinue'
  #         $Source = "https://www.dropbox.com/sh/3l4jpjw7mkc3cfo/AADjVKfGRk7g1SoQXOc1nrl3a/windows64/Maud.zip?dl=1"
  #         $Destination = ".\Maud.zip"
  #         Invoke-WebRequest -Uri $source -OutFile $Destination
  #         Expand-Archive -Path Maud.zip
  #         git clone https://github.com/cinemascience/cinema_debye_scherrer
  #         mkdir Tutorials
  #     - run: |
  #         conda activate rietveld
  #         milk-config .\Maud\ -c .\cinema_debye_scherrer\
  #         conda deactivate
  #         conda activate rietveld
  #         echo %MAUD_PATH%
  #         echo %CINEMA_PATH%
  #         cd Tutorials
  #         milk-examples -e 1
  #         cd maudbatch
  #         python writeIns.py
  #         milk-maudText -f fecu.ins 
  #     - run: dir Tutorials
  #     - run: more .\Tutorials\maudbatch\*.log

  build-on-macos:
    name: Build MILK on MacOS
    runs-on: macos-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: rietveld
          environment-file: conda-osx-64.lock
          auto-activate-base: false
      - name: setup pip and install missing ocl_wrapper initialize conda
        run: |
          conda install ocl_icd_wrapper_apple -c conda-forge
          python -m pip install -e ./
          python -m pip install git+https://github.com/lanl/spotlight.git@v0.10.2
          python -m pip install mystic==0.3.9
          python -m pip install pyina==0.2.6
          python -m pip install pathos==0.2.9
      - name: download related programs and make tutorials folder for test examples
        run: |
          mkdir -p Tutorials
          curl -JLO "https://www.dropbox.com/sh/3l4jpjw7mkc3cfo/AAD4uGx8QNACWnItJ4yvfZcWa/macosx64/Maud_intel64.dmg.gz"
          gunzip Maud_intel64.dmg.gz
          hdiutil attach Maud_intel64.dmg
          cp -r /Volumes/Maud .
          cp -r ./Maud/Maud.app /Applications/Maud.app
          git clone https://github.com/cinemascience/cinema_debye_scherrer
      - name: config milk
        run: |
          milk-config /Applications/Maud.app -c ./cinema_debye_scherrer
          conda deactivate
          conda activate rietveld
          echo $MAUD_PATH
          echo $CINEMA_PATH
          cd Tutorials
          milk-examples -e 1
          cd maudbatch
          python writeIns.py
          milk-maudText -f fecu.ins
          cd ..
          milk-examples -e 3
          cd sequential_refinement
          ls
      # - name: use pytest to generate coverage report
      #   run: |
      #     pytest --junitxml="./pytest.xml"
      # - name: convert pytest reports to badge
      #   uses: MishaKav/pytest-coverage-comment@main
      #     with:
      #       pytest-coverage-path: ./pytest-coverage.txt
      #       junitxml-path: ./pytest.xml

