name: Python 3.9

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/README.md'
      - '**/.github/workflows/build_docker_linux.yml'
      - '**/.github/workflows/build_MacPy38_310.yml'
      - '**/.github/workflows/build_Lin39.yml'
      - '**/Dockerfile'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**/README.md'
      - '**/.github/workflows/build_docker_linux.yml'
      - '**/.github/workflows/build_MacPy38_310.yml'
      - '**/.github/workflows/build_Lin39.yml'
      - '**/Dockerfile'
jobs:
  win-py39:
    name: Build MILK on Windows
    runs-on: windows-latest
    defaults:
      run:
        shell: cmd /C CALL {0}
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: rietveld
          environment-file: environments/environment_windows.yml
          auto-activate-base: false
          miniforge-variant: Mambaforge
          use-mamba: true
      - run: |
          conda info
          conda list
      - shell: pwsh
        run: |
          $ProgressPreference = 'SilentlyContinue'
          $Source = "https://github.com/luttero/maud/releases/download/v2.9992/Maud.zip"
          $Destination = ".\Maud.zip"
          Invoke-WebRequest -Uri $source -OutFile $Destination
          Expand-Archive -Path Maud.zip
          git clone https://github.com/cinemascience/cinema_debye_scherrer
      - run: milk-config D:\a\MILK\MILK\Maud\ -c D:\a\MILK\MILK\cinema_debye_scherrer\
      - name: run py tests
        run: |
          pytest tests\maudbatch_test.py
          pytest tests/HIPPO_test.py