name: Build and Test [Python 3.9 on Windows, Linux, MacOS]

on:
  push:
    branches: [ workflow-draft2 ]
  pull_request:
    branches: [ workflow-draft2 ]
jobs:
  # build-on-ubuntu:
  #   name: Build MILK on Linux (Ubuntu)
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: Set up Python 3.9
  #       uses: actions/setup-python@v2
  #       with:
  #         python-version: 3.9
  #     - uses: s-weigand/setup-conda@v1
  #       with:
  #         activate-conda: false
  #     - run: conda create --name rietveld --file conda-linux-64.lock
  #     # - run: conda list -n rietveld
  #     - run: git clone https://github.com/cinemascience/cinema_debye_scherrer
  #     - run: wget https://www.dropbox.com/sh/3l4jpjw7mkc3cfo/AABxmzMfRS2zsxfXhUNftZHCa/linux64/Maud.tar.gz
  #     - run: tar -xvf Maud.tar.gz
  #     - run: conda activate rietveld
  #     - run: milk-config ./Maud/ -c ./cinema_debye_scherrer/
          
  build-on-windows:
    name: Build MILK on Windows
    runs-on: windows-latest
    defaults:
      run:
        shell: cmd /C CALL {0}
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: rietveld
          environment-file: environment_windows.yml
          auto-activate-base: false
      - run: |
          conda info
          conda list
      - shell: pwsh
        run: |
          $ProgressPreference = 'SilentlyContinue'
          $Source = "https://www.dropbox.com/sh/3l4jpjw7mkc3cfo/AADjVKfGRk7g1SoQXOc1nrl3a/windows64/Maud.zip?dl=1"
          $Destination = ".\Maud.zip"
          Invoke-WebRequest -Uri $source -OutFile $Destination
          Expand-Archive -Path Maud.zip
          git clone https://github.com/cinemascience/cinema_debye_scherrer
          mkdir Tutorials
      - run: |
          conda activate rietveld
          milk-config .\Maud\ -c .\cinema_debye_scherrer\
          conda deactivate
          conda activate rietveld
          echo %MAUD_PATH%
          echo %CINEMA_PATH%
          cd Tutorials
          milk-examples -e 1
          cd maudbatch
          python writeIns.py
          milk-maudText -f fecu.ins 
      - run: dir Tutorials
      - run: more .\Tutorials\maudbatch\*.log

  build-on-macos:
    name: Build MILK on MacOS
    runs-on: macos-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: rietveld
          environment-file: environment_mac.yml
          auto-activate-base: false
      - name: download related programs
        run: |
          mkdir -p Tutorials
          curl -JLO "https://www.dropbox.com/sh/3l4jpjw7mkc3cfo/AAD4uGx8QNACWnItJ4yvfZcWa/macosx64/Maud_intel64.dmg.gz"
          gunzip Maud_intel64.dmg.gz
          hdiutil attach Maud_intel64.dmg
          cp -r /Volumes/Maud .
          cp -r ./Maud/Maud.app /Applications/Maud.app
          git clone https://github.com/cinemascience/cinema_debye_scherrer
      - name: setup pip and install missing ocl_wrapper initialize conda
        run: |
          milk-config /Applications/Maud.app -c ./cinema_debye_scherrer
          conda deactivate
          conda activate rietveld
          echo $MAUD_PATH
          echo $CINEMA_PATH
      - name: Running first test example
        run: |
          conda info --env
          conda activate rietveld
          cd Tutorials
          milk-examples -e 1
          cd maudbatch
          python writeIns.py
          milk-maudText -f fecu.ins
      - name: Running second test example
        run: |
          conda info --env
          pwd
          conda activate rietveld
          cd Tutorials
          milk-examples -e 3
          cd sequential_refinement
          
