name: Build and Test [Python 3.9 on Windows, Linux, MacOS]

on:
  push:
    branches: [ workflow-draft2 ]
  pull_request:
    branches: [ workflow-draft2 ]
jobs:
  build-on-ubuntu:
    name: Build MILK on Linux
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: rietveld
          environment-file: conda-linux-64.lock
          auto-activate-base: false
      - name: setup pip and install packages
        run: |
          python -m pip install -e ./
          python -m pip install git+https://github.com/lanl/spotlight.git@v0.10.2
          python -m pip install mystic==0.3.9
          python -m pip install pyina==0.2.6
          python -m pip install pathos==0.2.9
      - name: download related programs and make tutorials folder for test examples
        run: |
          mkdir -p Tutorials
          wget -O Maud.tar.gz "https://www.dropbox.com/sh/3l4jpjw7mkc3cfo/AABxmzMfRS2zsxfXhUNftZHCa/linux64/Maud.tar.gz?dl=1"
          tar -xvf Maud.tar.gz
          git clone https://github.com/cinemascience/cinema_debye_scherrer
      - name: config milk and run examples
        run: |
          milk-config /home/runner/work/MILK/MILK/Maud -c /home/runner/work/MILK/MILK/cinema_debye_scherrer
          conda deactivate
          conda activate rietveld
          echo $MAUD_PATH
          echo $CINEMA_PATH
          cd Tutorials
          milk-examples -e 1
          cd maudbatch
          python writeIns.py
          milk-maudText -f fecu.ins
          ls
          cd ..
          milk-examples -e 3
          cd sequential_refinement
          python 1_build_database.py
          python 2_setup.py
          ls
          
  build-on-windows:
    name: Build MILK on Windows
    runs-on: windows-latest
    defaults:
      run:
        shell: cmd /C CALL {0}
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: rietveld
          environment-file: environment_windows.yml
          auto-activate-base: false
      - run: |
          conda info
          conda list
      - shell: pwsh
        run: |
          $ProgressPreference = 'SilentlyContinue'
          $Source = "https://www.dropbox.com/sh/3l4jpjw7mkc3cfo/AADjVKfGRk7g1SoQXOc1nrl3a/windows64/Maud.zip?dl=1"
          $Destination = ".\Maud.zip"
          Invoke-WebRequest -Uri $source -OutFile $Destination
          Expand-Archive -Path Maud.zip
          git clone https://github.com/cinemascience/cinema_debye_scherrer
          mkdir Tutorials
      - run: milk-config D:\a\MILK\MILK\Maud\ -c D:\a\MILK\MILK\cinema_debye_scherrer\
      - run: echo %MAUD_PATH%
      - run: echo %CINEMA_PATH%
      - run: |
          cd /d Tutorials
          milk-examples -e 1
          cd maudbatch
          python writeIns.py
          milk-maudText -f fecu.ins 
      - run: dir D:\a\MILK\MILK\Tutorials\maudbatch
      - run: more D:\a\MILK\MILK\Tutorials\maudbatch\fecu.log

  build-on-macos:
    name: Build MILK on MacOS Intel
    runs-on: macos-latest
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: rietveld
          environment-file: conda-osx-intel-64.lock
          auto-activate-base: false
      - name: setup pip and install missing ocl_wrapper initialize conda
        run: |
          conda install ocl_icd_wrapper_apple -c conda-forge
          python -m pip install -e ./
          python -m pip install git+https://github.com/lanl/spotlight.git@v0.10.2
          python -m pip install mystic==0.3.9
          python -m pip install pyina==0.2.6
          python -m pip install pathos==0.2.9
      - name: download related programs and make tutorials folder for test examples
        run: |
          mkdir -p Tutorials
          curl -JLO "https://www.dropbox.com/sh/3l4jpjw7mkc3cfo/AAD4uGx8QNACWnItJ4yvfZcWa/macosx64/Maud_intel64.dmg.gz"
          gunzip Maud_intel64.dmg.gz
          hdiutil attach Maud_intel64.dmg
          cp -r /Volumes/Maud .
          cp -r ./Maud/Maud.app /Applications/Maud.app
          git clone https://github.com/cinemascience/cinema_debye_scherrer
      - name: config milk and run examples
        run: |
          milk-config /Applications/Maud.app -c ./cinema_debye_scherrer
          conda deactivate
          conda activate rietveld
          echo $MAUD_PATH
          echo $CINEMA_PATH
          cd Tutorials
          milk-examples -e 1
          cd maudbatch
          python writeIns.py
          milk-maudText -f fecu.ins
          ls
          cd ..
          milk-examples -e 3
          cd sequential_refinement
          python 1_build_database.py
          python 2_setup.py
          ls
      # python 3_analysis.py
      # - name: use pytest to generate coverage report
      #   run: |
      #     pytest
      #     pytest --junitxml="./pytest.xml"
      # - name: convert pytest reports to badge
      #   uses: MishaKav/pytest-coverage-comment@main
      #     with:
      #       pytest-coverage-path: ./pytest-coverage.txt
      #       junitxml-path: ./pytest.xml

