name: Build and Test [Python 3.9 on Windows, Linux, MacOS]

on:
  push:
    branches: [ master ]
jobs:
  build-on-ubuntu:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      # Initializes Conda on a GitHub hosted Runner
      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: 3.9
      # Runs the action with the following inputs or defaults if not specified.
      - uses: cascode-labs/build-conda-action/action.yml@v0
        with:
          recipe_path: ''
          package_artifact_name: 'rietveld'
          conda_build_env_filepath: 'environment_full.yml'